<div class="col-md-4 col-sm-12 align-center">
  <h1>Sign in</h1>

  <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="login">Login</label>
      <div>
        <input id="login"
               name="login"
               class="form-control"
               [(ngModel)]="user.username"
               #login="ngModel"
               type="text"
               placeholder="Login"
               autocomplete="off"
               minlength="{{minLength}}"
               required/>
        <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger alert-error">
          <div *ngIf="login.errors.required">Login required error</div>
          <div *ngIf="login.errors.minlength">Login min length is {{minLength}}</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div>
        <input id="password"
               name="password"
               class="form-control"
               [(ngModel)]="user.password"
               #password="ngModel"
               type="password"
               placeholder="Password"
               autocomplete="off"
               minlength="{{minLength}}"
               required/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger alert-error">
          <div *ngIf="password.errors.required">Password required error</div>
          <div *ngIf="password.errors.minlength">Password min length is {{minLength}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="!!loginError && !loginSuccess" class="alert alert-danger alert-error">
      Login error
    </div>
    <div *ngIf="!!loginSuccess" class="alert alert-success alert-error">
      Login success
    </div>
    <div>
      <div class="btn-group form-group">
        <button [disabled]="!loginForm.form.valid || isInProccess" type="submit" class="btn btn-primary btn-block btn-block-small">
          <span *ngIf="isInProccess"><i class="glyphicon glyphicon-refresh spinning"></i></span>
          Sign in
        </button>
      </div>
      <div class="btn-group form-group">
        <a [routerLink]="['/' + loginService.getUrlHashReg()]" class="btn btn-default btn-block btn-block-small">
          Sign up
        </a>
      </div>
    </div>
  </form>
</div>
